@model IEnumerable<ProyectoWeb.Ingreso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" id="cmdBuscar" value="Buscar" />
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependeSalario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependeSalario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdIngreso }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdIngreso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdIngreso })
        </td>
    </tr>
}

</table>
